h1 {
    font-family: Boilerplate;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

ul#social, ul#poweredBy {
    float: left;
}

ul#social li, ul#poweredBy li {
    display: inline;
    list-style: none;
}

ul#social li a, ul#poweredBy li a {
    color: #999;
    text-decoration: none;
}

a.facebook, a.twitter, a.raven {
    display: block;
    float: left;
    height: 24px;
    padding-left: 17px;
    margin-top: 4px;
    text-indent: -9999px;
    width: 16px;
}

a.facebook {
    background: url("../Images/facebook.png") no-repeat;
}

a.twitter {
    background: url("../Images/twitter.png") no-repeat;
}

a.raven {
    background: url("http://static.ravendb.net/badges/small/badge6.png") no-repeat;
    height: 29px;
    width: 113px;
    margin-top: 0;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }

        ul#social {
            padding: 0;
            margin: 0;
        }

        a.facebook, a.twitter {
            background: none;
            display: inline;
            float: none;
            padding-left: 0;
            text-indent: 0;
        }
}