@media (min-width: 1200px) {
    body {
        background: url('/Images/background-screen-lg.jpg') no-repeat fixed;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background: url('/Images/background-screen-md.jpg') no-repeat fixed;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: url('/Images/background-screen-sm.jpg') no-repeat fixed;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        background: url('/Images/background-screen-xs.jpg') no-repeat fixed;
    }
}

body {
    -moz-background-size: 100% auto, contain;
    -o-background-size: 100% auto, contain;
    -webkit-background-size: 100% auto, contain;
    background-size: 100% auto, contain;
    background-color: black;
}

.content {
    background: #f9f9f9;
    background: rgba(255, 255, 255, 0.75);
    padding: 12px;
}

.featured {
    background: #f2105c;
    color: white;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.homepage-content {
    padding: 12px;
}

.homepage-content h2 {
    margin-top: 0;
}

.concert-poster {
    width: 33%;
}

.archive-concert {
    height: 130px;
}

.archive-concert .concert-poster {
    height: 100%;
}

.archive-concert .poster-image-wrapper {
    height: 130px;
    width: 130px;
}

.navbar-default .navbar-brand {
    color:  #f2105c;
    padding: 6px 15px 3px;
    margin: 0;
}

    .navbar-default .navbar-brand img {
        margin-top: -3px;
    }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgb(158, 0, 89);
}