# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
[Oo]bj

# ReSharper files
_ReSharper.*/

# User settings files
*.user
*.suo

# NuGet packages
packages/

# Cache files
*.cache
