@model IReadOnlyCollection<CGO.Domain.Concert>

@{
    ViewBag.Title = "Concerts Archive";
}

<div class="row-fluid">
    @Html.Action("Display", "SideBar")

    <div class="span9">
        <h1>Concerts Archive</h1>
    </div>
</div>
