@model IReadOnlyCollection<CGO.Domain.Concert>

@{
    ViewBag.Title = "Concerts Archive";
}

<div class="row">
    @Html.Action("Display", "SideBar")

    <div class="col-lg-9">
        <h1>Concerts Archive</h1>
    </div>
</div>
