@model CGO.Web.Models.Concert

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
<p>@Model.DateAndStartTime.ToString("d MMMM yyyy HH.mm"), @Model.Location</p>
<p>@Html.Markdown(Model.Description)</p>