<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="~/ErrorPages/InternalError.htm" mode="On" xdt:Transform="Replace">
      <error statusCode="403" redirect="~/ErrorPages/Forbidden.htm" />
      <error statusCode="404" redirect="~/ErrorPages/NotFound.htm" />
      <error statusCode="500" redirect="~/ErrorPages/InternalError.htm" />
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="PassThrough" xdt:Transform="Replace">
      <clear/>
      <error statusCode="401" path="~/ErrorPages/Forbidden.htm" responseMode="ExecuteURL" />
      <error statusCode="403" path="~/ErrorPages/Forbidden.htm" responseMode="ExecuteURL" />
      <error statusCode="404" path="~/ErrorPages/NotFound.htm" responseMode="ExecuteURL" />
      <error statusCode="500" path="~/ErrorPages/InternalError.htm" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>